.headerImageDiv {
  background-image: url("https://images.unsplash.com/photo-1526470608268-f674ce90ebd4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
  filter: brightness(0.45) blur(2px);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 300px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTextContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputGroupContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background: transparent;
}

.applyBtn {
  cursor: pointer;
  user-select: none;
}

.filterInput {
  outline: none !important;
  box-shadow: none !important;
}

.filterInput:focus {
  outline: none !important;
  box-shadow: none !important;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.filterTags {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

body {
  background: rgb(47, 46, 46);
  background: linear-gradient(
    90deg,
    rgba(47, 46, 46, 1) 0%,
    rgba(82, 80, 79, 1) 100%
  );
}

.bodyContainer {
  padding-top: 20px;
  background: transparent;
}

.fullPageContainer {
  min-height: 100vh;
  background: rgb(47, 46, 46);
  background: linear-gradient(
    180deg,
    rgba(47, 46, 46, 1) 0%,
    rgba(82, 80, 79, 1) 100%
  );
}

@media only screen and (max-width: 600px) {
  .headerTextContainer > h2 {
    max-width: 85vw;
    text-align: center;
    margin-bottom: 18px;
  }
}
